<!-- About Section -->
<div class="section">
<section id="about" class="success section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:#{{ site.color.primary }}">Sobre Mono</h2>
                <hr class="star-light" style="border-color: #{{ site.color.primary }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;">

                <p>mono.com.uy es una editorial de autores que trabaja en equipo y convoca a otros a sumarse al catálogo
                    para publicar libros infantiles, juveniles, familiares en español y en inglés.</p>

                <p>Todos los libros se publican sin costo en formato digital en mono.com.uy y en 180.com.uy
                    Los libros que logran un buen número de lectores online, se imprimen y se distribuyen en
                    librerías.</p>

                <p>mono.com.uy creó un modelo innovador para mejorar el porcentaje del derecho de autor y valorizarlo en
                    la cadena del mercado editorial. A su vez, los lectores inciden en la decisión de los títulos que se
                    editan.
                <p>

                <p>El catálogo es variado y se mantiene actualizado a través del vínculo con instituciones educativas,
                    familias y principalmente mediante el trabajo con niños y jóvenes.</p>

            </div>
        </div>
    </div>
</section>
</div>