 <!-- About Section -->
    <section id="about" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#{{ site.color.primary }}">Sobre Mono</h2>
                    <hr class="star-light" style="border-color: #{{ site.color.primary }}">
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <h3>Editorial</h3>
            </div>
            <div class="row">

                    <p>mono.com.uy es una editorial de autores que trabaja en equipo y convoca a otros  a sumarse al catálogo para publicar libros infantiles, juveniles, familiares en español y en inglés.</p>

                    <p>Todos los libros se publican sin costo en formato digital en mono.com.uy y en 180.com.uy
                        Los libros que logran un buen número de lectores online, se imprimen y se distribuyen en librerías.</p>

                    <p>mono.com.uy creó un modelo innovador para mejorar el porcentaje del derecho de autor y valorizarlo en la cadena del mercado editorial. A su vez, los lectores inciden en la decisión de los títulos que se editan.<p>

                    <p>El catálogo es variado y se mantiene actualizado a través del vínculo con instituciones educativas, familias y principalmente mediante el trabajo con niños y jóvenes.</p>

            </div>
            <div class="col-lg-12 text-center">
                <h3>Librería</h3>
            </div>
            <div class="row">
                <div>

                    <p>Mono tiene su propia librería en Maldonado 2140 esquina Requena, que es también taller y biblioteca. También hay a la venta objetos de diseño artesanal que empatizan con la propuesta de Mono en general.</p>

                </div>
            </div>
            <div class="col-lg-12 text-center">
                <h3>Equipo</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Andrés Garín</h4>
                    <p>
                        Director creativo, escritor, comunicador, productor.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Rafael Rey</h4>
                    <p>
                        Periodista, editor, escritor.
                    </p>
                </div>
            </div><div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Adriana Barcelo</h4>
                    <p>Diseñadora gráfica, ilustradora, traductora, correctora.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Ana Clara Esponda</h4>
                    <p>Desarrollo de Software</p>
                </div>
            </div>
        </div>
    </section>