<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{include.title}}</h2>
                {% if page.subtitle %}
                <h4>{{page.subtitle}}</h4>
                {% endif %}
                <hr class="star-primary">
            </div>
        </div>
        <br>
        <div class="row">
            {% assign items = {{site[include.objects]}} | sort: 'order' %}
            {% for object in items %}
            <div class="col-sm-3 portfolio-item">
                <a href="{{ site.baseurl }}/{{object.ref}}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ site.baseurl}}{{ object.img }}" class="img-responsive" alt="{{ object.alt }}">
                </a>
            </div>
            {% endfor %}
        </div>
        {% if page.prox == true%}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>PRÓXIMAMENTE</h3>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% assign items = {{site[page.proxObjects]}} | sort: 'order' %}
            {% for object in items %}
            <div class="col-sm-4 portfolio-item">
                <a href="{{ site.baseurl }}/{{object.ref}}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ site.baseurl}}{{ object.img }}" class="img-responsive" alt="{{ object.alt }}">
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>