<!-- About Section -->
<div class="section">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#{{ site.color.primary }}">Equipo</h2>
                    <hr class="star-light" style="border-color: #{{ site.color.primary }}">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Andrés Garín</h4>
                    <p>
                        Director creativo, escritor, comunicador, productor.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Rafael Rey</h4>
                    <p>
                        Periodista, editor, escritor.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Adriana Barcelo</h4>
                    <p>Diseñadora gráfica, ilustradora, traductora, correctora.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Ana Clara Esponda</h4>
                    <p>Desarrollo de Software</p>
                </div>
            </div>
        </div>
    </section>
</div>