<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>{{page.title}}</h3>
                <hr class="star-primary">
            </div>
            <div style=" margin: auto; width: 50%;">
                <div id="ypt_wrapper">
                    <div class="video">
                        <div id="player" data-pl="{{page.playlist}}"></div>
                    </div>
                    <ul id="ypt_thumbs"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-primary">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h4>Matías González</h4>
                <p>
                    Arreglos, guitarra y voz.
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h4>Rodrigo Vignolo</h4>
                <p>
                    Arreglos e interpretación en vivo.
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h4>Andrés Garín</h4>
                <p>
                    Letras
                </p>
            </div>
        </div>
    </div>
</section>
<script src="{{ site.baseurl }}/assets/js/playlist.js"></script>