<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class=" col-sm-9 portfolio-item">
                <div class="col-lg-12 text-center">
                    <h3>{{page.title}}</h3>
                    <hr class="star-primary">
                </div>
                <div id="ypt_wrapper">
                    <div class="video">
                        <div id="player" data-pl="{{page.playlist}}"></div>
                    </div>
                    <ul id="ypt_thumbs"></ul>
                </div>
            </div>
        </div>
    </div>
</section>