   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ site.baseurl }}/sobremono">
                    <img src="{{ site.baseurl }}/img/mono.png" class="img-responsive navbar-logo" alt="{{ post.alt }}" href="{{ site.baseurl }}/">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll active">
                        <a href="{{ site.baseurl }}/">Inicio</a>
                    </li>
                    <li class="page-scroll">
                        <a class="dropdown-toggle" data-toggle="dropdown">Música</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.baseurl }}/musica">Español</a></li>
                            <li><a href="{{ site.baseurl }}/music">Inglés</a></li>
                        </ul>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ site.baseurl }}/teatro">Teatro</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ site.baseurl }}/nomedigas">No me digas</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ site.baseurl }}/complementaria">Complementaria</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ site.baseurl }}/monotematica">Monotemática</a>
                    </li>
                    <li class="page-scroll">
                        <a class="dropdown-toggle" data-toggle="dropdown">Talleres</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.baseurl }}/talleres/talleresmono">Talleres Mono</a></li>
                            <li><a href="{{ site.baseurl }}/talleres/todospodemos">Todos Podemos escribir un libro</a></li>
                            <li><a href="https://www.grupotexas.com.uy/talleres" target="_blank">Texas</a></li>
                        </ul>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ site.baseurl }}/libreria">Librería</a>
                    </li>
                    <!--<li class="page-scroll">-->
                        <!--<a href="{{ site.baseurl }}/monotematica">Monotemática</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        <!-- /.container-fluid -->
        </div>
    </nav>


