<!-- Portfolio Grid Section -->
<div class="section">
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{include.title}}</h2>
                    <hr class="star-primary">
                    {% if page.subtitle %}
                    <h4>{{page.subtitle}}</h4>
                    {% endif %}

                </div>
                <!--</div>-->
            </div>
            <div class="row">

                {% assign items = {{include.objects}} | sort: 'order' %}
                {% for object in items %}
                <div class="col-sm-6 portfolio-item">
                    <img src="{{include.imgUrl}}{{ object.img }}" class="img-responsive" alt="{{ object.alt }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>