<!-- About Section -->
<div class="section">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#{{ site.color.primary }}">Equipo</h2>
                    <hr class="star-light" style="border-color: #{{ site.color.primary }}">
                </div>
            </div>
            <ul>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <h4>Andrés Garín</h4>
                        <p>
                            Director creativo, escritor, comunicador, productor.
                        </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2">
                        <h4>Rafael Rey</h4>
                        <p>
                            Periodista, editor, escritor.
                        </p>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <h4>Ilustración</h4>
                        <p>Juan Purstcher, Federico Murro y
                            Gonzalo Firpo.</p>

                    </div>
                </div>
            </ul>
        </div>
    </section>
</div>