<!-- Portfolio Grid Section -->
<div class="section">
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>{{include.title}}</h3>
                    <hr class="star-primary">
                </div>
                <!--</div>-->
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Próximamente</h3>
                </div>

                <div class="col-sm-6 portfolio-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Jf1z0gE6BtI" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2KlI6KulGgk" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="col-lg-12 text-center">
                    <h3>Anteriores</h3>
                </div>


                <div class="col-sm-6 portfolio-item">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/PR5RHe0NWvs"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>

                <div class="col-sm-6 portfolio-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0SwVrehais0" frameborder="0"
                            allowfullscreen></iframe>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Teatro Infantil</h3>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Valentina Seijo</h4>
                    <p>
                        Dirección y puesta en escena.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Andrés Garín</h4>
                    <p>
                        Texto y produccion.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Macarena Prada</h4>
                    <p>
                        Actríz y bailarina.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Rodrigo Vignolo</h4>
                    <p>
                        Actor y músico.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Mavi Amigo</h4>
                    <p>
                        Vestuario y escenografía.
                    </p>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Teatro Adultos</h3>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Federico Pereyra</h4>
                    <p>
                        Dirección y puesta en escena
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Lucía García</h4>
                    <p>
                        Actriz y cantante.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Fransisco Romero</h4>
                    <p>
                        Actor y músico
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Andrés Garín</h4>
                    <p>
                        Texto
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Mono&Grupo Texas</h4>
                    <p>
                        Producción.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Mono&Grupo Texas</h4>
                    <p>
                        Vestuario y escenografía.
                    </p>
                </div>


            </div>
        </div>
    </section>
</div>