<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>{{include.title}}</h3>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <p>Nos proponemos el desafío de lanzar cada año una obra teatral infantil, juvenil o familiar, siempre
                    vinculadas a las temáticas de nuestro catálogo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <iframe class="top-iframe" width="560" height="315" src="https://www.youtube.com/embed/PR5RHe0NWvs" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div class="col-sm-6 portfolio-item">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0SwVrehais0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>