<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
{% include nav.html %}

<!--Content-->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>Talleres Mono</h3>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <img src="../../img/talleres/tallermono.jpg" class="img-responsive" alt="{{ object.alt }}">
            </div>
            <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;
  margin-top: 25px;">
                <!--<hr class="star-primary">-->

                <p>Tenemos disponibles en la librería talleres de plástica, de escritura, de ilustración, de procesos
                    creativos, de diseño y de comunicación para todas las edades.</p>
            </div>
        </div>
    </div>
</section>
<!--Content-->

{% include footer.html %}
{% include js.html %}


</body>
</html>