<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
{% include nav.html %}

<!--Content-->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <img src="../../img/talleres/todospodemos.jpg" class="img-responsive" alt="{{ object.alt }}">
            </div>
            <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;">

                <p>Es un formato de taller que se dicta en instituciones educativas en el que niños, adolescentes y
                    educadores se transforman en coautores y el resultado del taller es un libro que se publica en Mono
                    en español e inglés. </p>
            </div>
        </div>
    </div>
</section>
<!--Content-->

{% include footer.html %}
{% include js.html %}


</body>
</html>